<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SD_Lumen</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/animation.js"></script>
    <script src="/js/index.js"></script>
</head>
<body id="body">
    <div class="header">
        <div class="left">
            <span id="btn_logo" class="menu logo">
                <img src="/img/logo_white.svg" alt="logo">
            </span>
            <span id="btn_about" class="menu about clickableMenu">
                <span class="icon"><img src="/img/icon_about.png" alt="about"></span>
                <span class="text">About</span>
            </span>
            <span id="btn_team" class="menu team clickableMenu">
                <span class="icon"><img src="/img/icon_team.png" alt="team"></span>
                <span class="text">Team</span>
            </span>
            <span id="btn_project" class="menu project clickableMenu">
                <span class="icon"><img src="/img/icon_project.png" alt="project"></span>
                <span class="text">Project</span>
            </span>
        </div>
        <div class="right clickableMenu">
            <span class="icon_person">
                <img src="/img/icon_admin.png" alt="admin">
            </span>
            <span class="text">
                Staff Login
            </span>
        </div>
    </div>
    <div id="container" class="container">
        <div id="section_1" class="section _1">
            <div class="aligner"></div>
            <div class="context">
                <div class="intro">
                    <span class="description">빛을 프로그래밍하다,</span>
                    <span class="name">STUDIO_LUMEN</span>
                </div>
                <div class="apply">
                    <!--    여기 애니메이션은 css에      -->
                    <span id="btn_apply" class="btn clickable">
                        <span class="text _1">오지마 </span>
                        <span class="icon"><img src="/img/icon_person.png" alt="person"></span>
                        <span class="text _2">루멘 지원 바로가기</span>
                    </span>
                </div>
                <div class="cover"></div>
            </div>
            <div id="scroll_guide" class="scroll">스크롤해서 더 알아보기</div>
        </div>
        <div id="section_2" class="section _2">
            <div class="box_available">
                <div class="context">
                    <div class="intro">
                        <div class="title">
                            <span class="main">Lumen</span>
                            <span class="description">[명] 광선속의 SI 단위</span>
                            <hr>
                        </div>
                        <div class="description">
                            <div class="main"><b>빛</b>은, 어디에서나, <br class="display_none">누구에게나 밝다.</div>
                            <span class="description"><b>인공지능</b> 기술로 모두가 행복한, <b>밝은 미래</b>를 만들어가는 <br class="display_none"><span class="blue">소셜벤쳐 스타트업입니다.</span></span>
                        </div>
                    </div>
                    <div class="about">
                        <div class="text">
                            <span class="question blue">WHAT WE DO?</span><br>
                            <span class="what lightgray">
                                새로운 기술을 통한 <b>혁신,</b><br>
                                혁신을 통한 <b>밝은 빛</b><br>
                            </span>
                        </div>
                        <div class="menu">
                            <div class="m_element vision">
                                <span class="num blue">01</span><br>
                                <span class="text">VISION</span>
                                <hr>
                            </div>
                            <div class="m_element value">
                                <span class="num blue">02</span><br>
                                <span class="text">VALUE</span>
                                <hr>
                            </div>
                            <div class="m_element act">
                                <span class="num blue">03</span><br>
                                <span class="text">ACT ENV.</span>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="showbox vision">
                    <div class="head">
                        <div class="num blue">01</div>
                        <div class="title">VISION</div>
                    </div>
                    <div class="body">
                        <div class="main">“새로운 기술로 만드는 밝은 미래”</div>
                        <hr>
                        <div class="des1">인공지능, 그 <b>새로운 기술</b>로 모두에게 <b>밝은 미래</b>를 개척해나갑니다.</div>
                        <div class="des2">사회적 약자, 프로그래밍 학습자등 다양한 사람들에게 새로운 기회, 새로운 빛을 만들어드립니다.</div>
                    </div>
                </div>
                <div class="showbox value">
                    <div class="head">
                        <div class="num blue">02</div>
                        <div class="title">VALUE</div>
                    </div>
                    <div class="body">
                        <div class="title"><b>깡</b>, 새로운 발전을 만드는 힘.</div>
                        <div class="bar">
                            <span class="inner_1">&nbsp;</span>
                            <span class="inner_2">&nbsp;</span>
                        </div>
                        <div class="lie">
                            <b>루멘</b> = <span class="blue">깡</span> <span class="small">50%</span> + 열정 <span class="small">25%</span> + 노력 <span class="small">25%</span><br>
                            <b class="blue">지속적인 도전</b>과 <b class="blue">거침없는 혁신</b>을 지향합니다.
                        </div>
                    </div>
                </div>
                <div class="showbox act">
                    <div class="head">
                        <div class="num blue">03</div>
                        <div class="title">ACT ENV.</div>
                    </div>
                    <div class="body">
                        <span class="gura _1">
                            <span class="icon">
                                <img src="/img/icon_lightbulb.png" alt="전등">
                            </span>
                            <br>
                            <span class="main">
                                창조적인 환경
                            </span>
                            <hr>
                            <span class="des">
                                루멘은 자유롭고 창조적인 환경에서<br>
                                업무를 진행합니다
                            </span>
                        </span>
                        <span class="gura _2">
                            <span class="icon">
                                <img src="/img/icon_box.png" alt="전등">
                            </span>
                            <br>
                            <span class="main">
                                다양한 지원
                            </span>
                            <hr>
                            <span class="des">
                                펜태블릿, 간식등 업무와 자기계발을<br>
                                위한 다양한 물품을 지원합니다.
                            </span>
                        </span>
                        <span class="gura _3">
                            <span class="icon">
                                <img src="/img/icon_chart.png" alt="전등">
                            </span>
                            <br>
                            <span class="main">
                                함께 성장하는 팀
                            </span>
                            <hr>
                            <span class="des">
                                단순히 팀만 성장하는것이 아닌,<br>
                                개개인의 역량과 함께 성장합니다.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_3" class="section _3">
            <div class="box_available">
                <div class="left">
                    <div class="upper">
                        <span class="gaesaw_lee blue">
                            WHO WE ARE
                        </span><br>
                        <span class="ha_zi_ma lightgray">
                            <b class="white">깡</b> 하나로 뭉친,<br>
                            <b class="white">만렙 청소년 개발자들</b>
                        </span>
                        <div class="menu">
                            <img src="/img/profile_thumbnails/profile_notthdev.png" alt="notthdev">
                            <img src="/img/profile_thumbnails/profile_soen.png" alt="soen">
                            <img src="/img/profile_thumbnails/profile_maka.png" alt="maka">
                            <img src="/img/profile_thumbnails/profile_yeonfish.png" alt="yeonfish">
                            <img src="/img/profile_thumbnails/profile_mujun.png" alt="mujun">
                            <img src="/img/profile_thumbnails/profile_iamgenious.png" alt="iamgenious">
                            <img src="/img/profile_thumbnails/profile_iamgenious.png" alt="minsong">
                        </div>
                        <div class="menubar">
                            <span class="adjuster">&nbsp;</span>
                            <span class="pointerWrapper"><span class="pointer">&nbsp;</span></span>
                        </div>
                    </div>
                    <div class="lower lightgray">
                        개인 프로필을 클릭하시면<br>
                        <span class="blue">등록된 포트폴리오</span>로 연결됩니다
                    </div>
                </div>
                <span class="spliter"></span>
                <div class="right">
                    <div class="profileList">
                        <div id="asdf" class="profile notthdev">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">Not_th3dev</span>
                                    <span class="guide">얘랑 열애중 -&gt;</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">김세준</div>
                                        <div class="role">대표 / 창업가</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                    <span class="img">
                                        <img src="/img/profiles/profile_notthdev.png" alt="profile">
                                    </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">“안된 이유는 안했기 때문이다.”</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">AI Engineer, ALL-Round Developer</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">안된게 아니라, 덜된거다. 될때까지.</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail">

                            </div>
                        </div>
                        <div class="profile soen">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">ksoeun</span>
                                    <span class="guide">&lt;- 얘랑 열애중</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">김소은</div>
                                        <div class="role">FE 개발자 / PM</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                    <span class="img">
                                        <img src="/img/profiles/profile_soen.png" alt="profile">
                                    </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">뽀도모로</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">FE(React), AI</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">Simple is best</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail"></div>
                        </div>
                        <div class="profile maka">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">ecode</span>
                                    <span class="guide">포트폴리오로 이동</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">마현진</div>
                                        <div class="role">부대표 / CTO</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                    <span class="img">
                                        <img src="/img/profiles/profile_maka.png" alt="profile">
                                    </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">"Re:제로부터 시작하는 개발 생활"</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">PS, DB</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">최대한 더럽게! 일단 돌아가면 된다!</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail">

                            </div>
                        </div>
                        <div class="profile yeonfish">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">yeonfish</span>
                                    <span class="guide">포트폴리오로 이동</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">이연준</div>
                                        <div class="role">CSO / BE 매니저</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                    <span class="img">
                                        <img src="/img/profiles/profile_yeonfish.png" alt="profile">
                                    </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">“나를 위한 개발. 나를 위한 발전. 하지만<br>더 나은 세상을 위한 코드.”</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">해킹 / BE (Spring, Node)</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">깔-끔</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail"></div>
                        </div>
                        <div class="profile mujun">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">mujun</span>
                                    <span class="guide">포트폴리오로 이동</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">김무준</div>
                                        <div class="role">Design / FE</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                    <span class="img">
                                        <img src="/img/profiles/profile_mujun.png" alt="profile">
                                    </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">“으....으악 ㅅ....살려줘 인공지능!”</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">디자인, FE(Nest.js, React)</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">제발 색조합좀 맞추세요</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail">

                            </div>
                        </div>
                        <div class="profile iamgenious">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">iamgenious</span>
                                    <span class="guide">포트폴리오로 이동</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">정찬희</div>
                                        <div class="role">HR / HD</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                    <span class="img">
                                        <img src="/img/profiles/profile_iamgenious.png" alt="profile">
                                    </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">“대가리 없이 코딩하는건 호빵에서 팥을<br>빼는것과 같다.”</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">FE / Web / 웹해킹</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">코딩하기 전에 구상부터 하자</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail"></div>
                        </div>
                        <div class="profile minsong">
                            <div class="main">
                                <div class="nickname">
                                    <span class="text">minsong</span>
                                    <span class="guide">포트폴리오로 이동</span>
                                </div>
                                <div class="head">
                                    <div class="left">
                                        <div class="name">김민송</div>
                                        <div class="role">AI</div>
                                        <hr>
                                    </div>
                                    <div class="right">
                                        <span class="img">
                                            <img src="/img/profiles/profile_iamgenious.png" alt="profile">
                                        </span>
                                        <span class="online">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="gaesaw_lee _1">
                                        <span class="title">한마디</span><br>
                                        <span class="content">“디자인 보다 인공지능이 좋아요”</span>
                                    </div>
                                    <div class="gaesaw_lee _2">
                                        <span class="title">분야</span><br>
                                        <span class="content">Artificial Intelligence</span>
                                    </div>
                                    <div class="gaesaw_lee _3">
                                        <span class="title">스타일</span><br>
                                        <span class="content">-Python-</span>
                                    </div>
                                    <div class="aligner"></div>
                                </div>
                            </div>
                            <div class="detail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_4" class="section _4">
            <div class="box_available">
                <div class="upper">
                    <div class="menu first">
                        <div class="_1 blue">WHERE WE ARE</div>
                        <div class="_2 lightgray">루멘이 걸어온 길,</div>
                        <div class="_3 white">빛을 찾는 그 여정</div>
                    </div>
                    <div class="menu second">
                        <div class="_1 lightgray">나눈 사람들</div>
                        <div class="_2 white">1100+ 명</div>
                    </div>
                    <div class="menu third">
                        <div class="_1 lightgray">총 수익금</div>
                        <div class="_2 white">2330(만원)</div>
                    </div>
                    <div class="menu forth">
                        <div class="_1 lightgray">프로젝트</div>
                        <div class="_2 white">22개</div>
                    </div>
                </div>
                <div class="lower">
                    <div class="el flag">
                        <span class="icon">
                            <img src="/img/icon_flag.png" alt="깃발">
                        </span>
                        <span class="main">
                            <span class="white">Hello World!</span><br>
                            <span class="blue">21.04</span>
                        </span>
                        <hr>
                        <span class="des">
                            Unstable <span class="blue">창립</span><br>
                            Thechart 개발<br>
                            Lumen Kit Series 개발
                        </span>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="el lumen">
                        <span class="icon">
                            <img src="/img/icon_lumen.png" alt="깃발">
                        </span>
                        <span class="main">
                            <span class="white">I_AM_LUMEN</span><br>
                            <span class="blue">22.07</span>
                        </span>
                        <hr>
                        <span class="des">
                            name = “Studio Lumen”;<br>
                            ARTISTER 개발
                        </span>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="el fliplumen">
                        <span class="icon">
                            <img src="/img/icon_flipLumen.png" alt="깃발">
                        </span>
                        <span class="main">
                            <span class="white">Share the light</span><br>
                            <span class="blue">22.09</span>
                        </span>
                        <hr>
                        <span class="des">
                            교육기관 대상 판매<br>
                            1000만원 순익 달성
                        </span>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="el studyengine">
                        <span class="icon">
                            <img src="/img/icon_studyengine.png" alt="깃발">
                        </span>
                        <span class="main">
                            <span class="white">Programming the light</span><br>
                            <span class="blue">23.11</span>
                        </span>
                        <hr>
                        <span class="des">
                            스터디엔진 기획, 개발
                        </span>
                    </div>
                    <div class="line">&nbsp;</div>
                    <div class="el newlumen">
                        <span class="icon">
                            <img src="/img/icon_newLumen.png" alt="깃발">
                        </span>
                        <span class="main">
                            <span class="white">The Bright Future</span><br>
                            <span class="blue">~</span>
                        </span>
                        <hr>
                        <span class="des">
                            사회적 소셜벤쳐 스타트업
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        init()
    });
</script>
</html>